:root {
    --tilecolor: darkslategrey;
    --boardcolor: darkorange;
}

@media (min-width: 600px) and (min-height: 400px) {
     :root {
        --tilesize: 100px;
    }
    .tile {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
     :root {
        --tilesize: 50px;
    }
    .tile {
        font-size: 1em;
    }
}

@media (max-height: 400px) {
     :root {
        --tilesize: 50px;
    }
    .tile {
        font-size: 1em;
    }
}

body {
    background-color: var(--tilecolor);
    outline: none;
    text-decoration: none;
}

.board {
    position: relative;
    width: calc(4 * var(--tilesize));
    height: calc(4 * var(--tilesize));
    margin: auto;
    background-color: var(--boardcolor);
    border: 2px var(--boardcolor) solid;
}

.tile {
    position: absolute;
    width: var(--tilesize);
    height: var(--tilesize);
    border: 2px var(--boardcolor) solid;
    box-sizing: border-box;
    background-color: var(--tilecolor);
    line-height: var(--tilesize);
    font-weight: bold;
    font-family: Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--boardcolor);
    text-align: center;
    transition: all .25s linear;
    cursor: pointer;
}

.t0 {
    position: absolute;
    width: calc(var(--tilesize) - 4px);
    height: calc(var(--tilesize) - 4px);
    margin: 2px;
    border: 2px var(--tilecolor) solid;
    box-sizing: border-box;
    pointer-events: none;
    transition-property: top, left;
    transition-duration: .125s;
    transition-timing-function: linear;
    outline: none;
}

.t16 {
    position: relative;
    width: calc(var(--tilesize) + 4px);
    height: calc(var(--tilesize) + 4px);
    top: calc(3 * var(--tilesize) - 2px);
    left: calc(4 * var(--tilesize) - 2px);
    border: 4px var(--boardcolor) solid;
    outline: none;
}

@keyframes fade {
    0%,
    100% {
        opacity: 1
    }
    1%,
    75% {
        opacity: 0
    }
}